.SeccionGaleria{
    .TituloGaleria{
        font-size: 300%;
        font-family: 'Satisfy'sans-serif;
        color:white;
        text-transform: uppercase;
        text-align: center;
        padding-top: 3%;
    }
    .galeria{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding-top: 1%;
        .foto{
            width: 350px;
            height: 350px;
            margin: 1%;
        }
        .foto:hover{
            -webkit-transform: scale(1.5);
            transform: scale(1.2);
        }
    }
}


